@model IEnumerable<ReliefProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <!-- NEW: End Date Column Header -->
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Coordinator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <!-- NEW: Start Date Data -->
            <td>
                    @item.StartDate.ToString("d")
            </td>
                <!-- NEW: End Date Data (Handling Nullable) -->
            <td>
                    @(item.EndDate.HasValue? item.EndDate.Value.ToString("d") : "-")
            </td>
            
            <td class="col-sm-10">
                    @if (item.Coordinator != null)
                    {
                        @item.Coordinator.Email
                    }
                    else
                    {
                        @:No Coordinator
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
